@font-face {
  font-family: "Samarkan";
  src: url("./font/SamarkanNormal.ttf");
}
:root {
  --white: #eeeeee;
  --black: #000000;
  --orange: #dc5f00;
  --red: #cf0a0a;
  --transparent-black: rgba(3, 3, 3, 0.411);
}

* {
  margin: 0;
  color: var(--white);
  /* background-color: var(--black); */
}
body{
  background-image: url(./images/background.jpg);
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.nav-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid var(--orange);
  padding: 20px;
  justify-content: space-between;
  font-size: 1.5rem;
  background-color: var(--black);
  z-index: 1;
}

.logo {
  font-family: "Samarkan";
  font-size: 2rem;
  text-decoration: none;
  margin-left: 25px;
}
.nav-right ul {
  display: flex;
  flex-direction: row;
  gap: 1.8rem;
  list-style: none;
}

.nav-options,
.footer ul li a {
  text-decoration: none;
  position: relative; /* Ensure proper positioning of the pseudo-element */
}

.nav-options::after,
.footer ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px; /* Adjust the distance of the line from the text */
  width: 100%;
  height: 2px; /* Adjust the thickness of the line */
  background-color: var(--orange); /* Set the color of the line to orange */
  transform: scaleX(0); /* Initially hide the line */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.nav-options:hover::after,
.footer ul li a:hover::after {
  transform: scaleX(1); /* Expand the line to full width on hover */
}

/* hr {
  width: 0%;
  height: 0.1rem;
  border-radius: 3px;
  background-color: var(--orange);
  float: left;
  color: var(--black);
}
.nav-options:hover hr {
  transition: width 0.2s ease-in;
  width: 100%;
  float: left;
  color: var(--orange);
} */
.nav-right ul li input {
  font-size: 1rem;
  color: var(--black);
  width: 300px;
  height: 28px;
  padding-left: 8px;
  border: none;
  border-radius: 5px;
  outline: none;
  margin-right: 40px;
}

.bg-container{
  background-color: var(--black);
  position: relative;
  width: 100%;
  /* background-attachment: fixed; */
}

.bg-image img {
  width: 100%;
  opacity: 0.2;
  background-attachment: fixed;
  /* background-size: cover; */
}

.text-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--white);
  z-index: 1;
}

.text-container h1 {
  font-size: 3em;
  margin-bottom: 1rem;
}

.text-container p {
  font-size: 1.5em;
  margin-bottom: 4rem;
}

.start-btn {
  padding: 10px 22px 12px;
  background-color: var(--orange);
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 5px;
  color: var(--white);
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, var(--orange) 50%, var(--white) 50%);
  background-size: 200% 100%;
  transition: background-position 0.3s ease;
}

.start-btn:hover {
  background-position: right bottom;
  color: var(--orange);
}

.details-container {
  position: absolute;
  z-index: 1;
  top: 100%;
  background-color: var(--transparent-black);
  width: 100%;
  /* height: 10rem; */
  display: flex;
  flex-direction: column;
}
.num-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: var(--white) solid 2px;
}
.num {
  align-self: center;
  margin-top: 1rem;
}
.num-num {
  color: var(--orange);
  font-weight: bold;
  font-size: 2.5rem;
}
.num-detail {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.footer {
  background-color: var(--black);
  color: var(--white);
  padding: 20px 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  border-top: 1px solid var(--orange);
  display: flex;
  justify-content: space-around;
}

.footer p {
  margin: 0;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* --- footer links --- */
.footer ul li {
  display: inline-block;
  margin-right: 20px;
}

.footer ul li:last-child {
  margin-right: 0;
}

/* Scroll up arrow button */
#scrollBtn {
  display: none; /* Initially hidden */
  position: fixed;
  bottom: 14px;
  right: 10px;
  z-index: 99;
  margin-right: 10px;
  background-color: var(--orange); /* Blue color, change as needed */
  color: var(--white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.3s;
}

/* Style for the scroll up arrow button on hover */
#scrollBtn:hover {
  background-color: var(--white); /* Darker blue color, change as needed */
  color: var(--orange);
}

/* Animation for the scroll up arrow button */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply animation to the scroll up arrow button */
#scrollBtn.animate {
  animation: fadeInUp 0.3s ease forwards;
}

/* Styling the scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; /* Background color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--orange); /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: darkorange; /* Color of the scrollbar handle on hover */
}

#survey-container {
  background-color: rgba(0,0,0,0.6);
  width: 80%;
  height: 100%;
  margin: auto;
}

/* survey-style.css */

/* Base styles for survey questions */
.survey-questions {
  font-size: 1.5rem;
  border: white solid 2px;
  margin-top: 10%;
  display: flex;
  padding: 10%;
  margin-bottom: 10%;
}

.question {
  font-size: 40px;
  margin-bottom: 20px;
}

.options {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.options label {
  border: var(--white) solid 2px;
  padding: 10px;
}

/* Style for the custom radio button */
.custom-radio {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Hide the default radio button */
.custom-radio input[type="radio"] {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}

/* Style for the custom radio button indicator */
.radio-btn {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid var(--orange); 
}

/* Style for the custom radio button indicator when selected */
.custom-radio input[type="radio"]:checked + .radio-btn {
  background-color: var(--orange); /* Change this to the desired color */
}

/* Optional: Add a hover effect */
.custom-radio:hover .radio-btn {
  background-color: #f0f0f0; /* Change this to the desired hover color */
}

/* Style for selected radio inputs */
.options label.selected {
  background-color: var(--orange); /* Change this to the desired highlight color */
}

/* Optional: Add hover effect */
.options label:hover {
  background-color: var(--orange); /* Change this to the desired hover color */
}

.back-btn, .next-btn{
  padding: 10px;
  width: 100%;
  background: var(--orange);
}


/* Login signup page*/
.login-btn{
  background-color: var(--black);
  font-size: 1.3rem;
}

#login-signup{
  position: absolute;
  top: 30%;
  width: 90%;
}

.container {
  height: 600px;
  width: 500px;
  background-color: white;
  box-shadow: 8px 8px 20px rgb(128, 128, 128);
  position: relative;
  overflow: hidden;
}

.btn {
  height: 60px;
  width: 300px;
  margin: 20px auto;
  box-shadow: 10px 10px 30px rgb(254, 215, 188);
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login,
.signup {
  font-size: 22px;
  border: none;
  outline: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.slider {
  height: 60px;
  width: 150px;
  border-radius: 50px;
  background-image: linear-gradient(to right,
          rgb(255, 195, 110),
          rgb(255, 146, 91));
  position: absolute;
  top: 20px;
  left: 100px;
  transition: all 0.5s ease-in-out;
}

.moveslider {
  left: 250px;
}

.form-section {
  height: 500px;
  width: 1000px;
  padding: 20px 0;
  display: flex;
  position: relative;
  transition: all 0.5s ease-in-out;
  left: 0px;
}

.form-section-move {
  left: -500px;
}

.login-box,
.signup-box {
  height: 100%;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 40px;
}

.login-box {
  gap: 50px;
}

.signup-box {
  gap: 30px;
}

.ele {
  height: 60px;
  width: 400px;
  outline: none;
  border: none;
  color: rgb(77, 77, 77);
  background-color: rgb(240, 240, 240);
  border-radius: 50px;
  padding-left: 30px;
  font-size: 18px;
}

.clkbtn {
  height: 60px;
  width: 150px;
  border-radius: 50px;
  background-image: linear-gradient(to right,
          rgb(255, 195, 110),
          rgb(255, 146, 91));
  font-size: 22px;
  border: none;
  cursor: pointer;
}

/* For Responsiveness of the page */

@media screen and (max-width: 650px) {
  .container {
      height: 600px;
      width: 300px;
  }

  .title {
      font-size: 15px;
  }

  .btn {
      height: 50px;
      width: 200px;
      margin: 20px auto;
  }

  .login,
  .signup {
      font-size: 19px;
  }

  .slider {
      height: 50px;
      width: 100px;
      left: 50px;
  }

  .moveslider {
      left: 150px;
  }

  .form-section {
      height: 500px;
      width: 600px;
  }

  .form-section-move {
      left: -300px;
  }

  .login-box,
  .signup-box {
      height: 100%;
      width: 300px;
  }

  .ele {
      height: 50px;
      width: 250px;
      font-size: 15px;
  }

  .clkbtn {
      height: 50px;
      width: 130px;
      font-size: 19px;
  }
}

@media screen and (max-width: 320px) {
  .container {
      height: 600px;
      width: 250px;
  }

  .heading {
      font-size: 30px;
  }

  .title {
      font-size: 10px;
  }

  .btn {
      height: 50px;
      width: 200px;
      margin: 20px auto;
  }

  .login,
  .signup {
      font-size: 19px;
  }

  .slider {
      height: 50px;
      width: 100px;
      left: 27px;
  }

  .moveslider {
      left: 127px;
  }

  .form-section {
      height: 500px;
      width: 500px;
  }

  .form-section-move {
      left: -250px;
  }

  .login-box,
  .signup-box {
      height: 100%;
      width: 250px;
  }

  .ele {
      height: 50px;
      width: 220px;
      font-size: 15px;
  }

  .clkbtn {
      height: 50px;
      width: 130px;
      font-size: 19px;
  }
}